<div id="main" class="menu">
  <nav class="barra navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/inicio" routerLinkActive="active">Eventos SL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/eventos" routerLinkActive="active" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Eventos
          </a>
          <div class="dropdown-menu awd" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/crear-evento" routerLinkActive="active">Alta Evento</a>
            <a class="dropdown-item" routerLink="/eliminar-evento" routerLinkActive="active">Borrar Evento</a>
            <a class="dropdown-item" routerLink="/modificar-evento" routerLinkActive="active">Modificar Evento</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quienessomos" routerLinkActive="active">¿Quienes somos?</a>
        </li>
      </ul>
    </div>
  </nav>
  <img src="https://i.ibb.co/NKbSbnj/banner.gif" width="100%" height="700px" alt="banner">
</div>
