<footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-left">
            <h6 class="text-muted lead">CREADOR</h6>
            <h6 class="text-muted">
            Martí Canela Farré<br>
            DAW2<br>
            </h6>
        </div>
        <div class="col-xs-12 col-md-6 text-right">
            <h6 class="text-muted lead">REDES SOCIALES</h6>
            <div class="redes-footer">
              <a href="https://twitter.com/"><img src="/assets/img/twitter.png" width="30" height="30"></a>
              <a href="https://www.instagram.com/"><img src="/assets/img/instagram.png" width="30" height="30"></a>
            </div>
        </div>
    </div>
  </div>
</footer>
