.f1 {
  margin-left: -214px;
}
.f2 {
  padding-right: -200px;
  margin-top: -200px;
}

.title3{
  padding-left: 10%;
}
.title4{
  padding-left: 80%;
}
.title5{
  padding-left: 30%;
}

.text2 {
  margin-left: -10%;
  padding-right: 20px;
}
.llista {
  list-style: none;
}
.readmore_bt {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.readmore_bt i {
  color: #00cc99;
  font-size: 25px;
  position: relative;
  top: 4px;
  left: 2px;
}
.theme_color {
  color: #00cc99;
}

.navbar-toggler span + span {
  margin-top: 5px;
}
.navbar-toggler:hover span {
  background: #222;
}

.title-box h2 span {
  color: #70c6eb;
  text-decoration: underline;
}

.about-main-info h2 span {
  color: #70c6eb;
  text-decoration: underline;
}

.heading_main h2 span {
  text-transform: uppercase;
  font-weight: 700;
}
.leer2{
  color: #00cc99;
}

.main_bt{
  color: #00cc99;
  border: 2px solid #00cc99;
  padding: 5px;
}

.main_bt2{
  color: #00cc99;
  border: 2px solid #00cc99;
  padding: 5px;
  margin-left: 30%;
}
