<br>
<div class="section about_section layout_padding half_bg_theme padding_bottom_0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="full text_align_right_img">
          <a class="f1"><img src="https://i.ibb.co/R09psGy/fiesta.jpg" alt="fiesta"></a>
        </div>
      </div>
      <div class="col-md-6">
        <br>
        <div class="full paddding_left_15">
          <div class="heading_main text_align_left">
            <h2><span class="theme_color">Bienvenido a</span><br>la pàgina de Eventos </h2>
          </div>
        </div>
        <div class="full paddding_left_15">
          <p>Hay muchas variaciones de pasajes de Lorem Ipsum disponibles, pero la mayoría han sufrido alteración de
            alguna forma, por humor inyectado,
            o palabras aleatorias que no parecen ni un poco creíbles. Si va a utilizar un pasaje de Lorem Ipsum, debe
            asegurarse de que no lo haya.
            Actuar que un lector se distraiga con el contenido legible de una página cuando mira su diseño. El objetivo
            de usar Lorem Ipsum es que tiene una distribución de letras más o menos normal, en lugar de usar 'Contenido
            aquí, <br> <br> Si va a usar un pasaje de Lorem Ipsum, debe asegúrese de que no es una f
            Actuar que un lector se distraiga con el contenido legible de una página cuando mira su diseño.
          </p>
        </div>
        <div class="full paddding_left_15 margin-top_30">
          <a class="main_bt" href="#">Leer mas <i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br><br><br><br><br><br><br><br>
        <div class="full paddding_left_15">
          <div class=" text2 heading_main text_align_left">
            <h2><span class="theme_color">Eventos SL </span>Que hacemos?</h2>
          </div>
        </div>
        <div class="full service_pro_section">
          <div class="row">
            <div class="text2 col-md-6">
              <div class="full services_list">
                <ul>
                  <li class="llista"><img src="https://i.ibb.co/nnCHDP3/check-icon.png" alt="check-icon" width="5%">
                    Vive los mejores momentos</li>
                  <li class="llista"><img src="https://i.ibb.co/nnCHDP3/check-icon.png" alt="check-icon" width="5%">
                    Sueña y viaja.</li>
                  <li class="llista"><img src="https://i.ibb.co/nnCHDP3/check-icon.png" alt="check-icon" width="5%">
                    Aprende a la mejor fiesta gracias a nosotros.</li>
                  <li class="llista"><img src="https://i.ibb.co/nnCHDP3/check-icon.png" alt="check-icon" width="5%"> Hay
                    que vivirlo para contarlo</li>
                </ul>
              </div>
              <br>
              <div class="full paddding_left_15 margin-top_30">
                <a class="main_bt" href="#">Leer mas<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
            <div class="col-md-6 text_align_right">
              <div class="full">
                <img class="f2"src="https://i.ibb.co/25185cN/logo-banner4.jpg" width="150%" alt="logo-banner4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section team_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="heading_main text_align_center">
            <h2 class="title3"><span class="theme_color">La Clave</span><br> es saber escoger</h2>
          </div>
        </div>
        <div class="full">
          <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10 offset-md-1 offset-lg-1">
              <div id="demo" class="popolar_fitness carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="full blog_img_popular">
                          <img class="img-responsive" src="https://i.ibb.co/5G5DJWD/img2.jpg" height="450px" alt="#" />
                          <div class="overlay_bt">
                            <a class="leer2" href="#">Leer mas<i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="full blog_img_popular">
                          <img class="img-responsive" src="https://i.ibb.co/ScBjh1v/img3.jpg" height="450px" alt="#" />
                          <div class="overlay_bt">
                            <a class="leer2" href="#">Leer mas<i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="full blog_img_popular">
                          <img class="img-responsive" src="https://i.ibb.co/3rFgk12/im3.jpg" height="450px" alt="#" />
                          <div class="overlay_bt">
                            <a class="leer2" href="#">Leer mas<i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="full blog_img_popular">
                          <img class="img-responsive" src="https://i.ibb.co/d0ZQpjf/im4.jpg" height="450px"  alt="#" />
                          <div class="overlay_bt">
                            <a class="leer2" href="#">Leer mas <i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="full blog_img_popular">
                          <img class="img-responsive" src="https://i.ibb.co/47hFZzn/im5.jpg" height="450px" alt="#" />
                          <div class="overlay_bt">
                            <a class="leer2" href="#">Leer mas <i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="full blog_img_popular">
                          <img class="img-responsive" src="https://i.ibb.co/Z1bN5w2/im6.jpg" height="450px" alt="#" />
                          <div class="overlay_bt">
                            <a class="leer2" href="#">Leer mas <i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev"><i
                    class="fa fa-long-arrow-left"></i></a>
                <a class="carousel-control-next" href="#demo" data-slide="next"><i
                    class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>
<div class="section story_section layout_padding">
  <div class="container-fluid">
    <div class="row white_bg">
      <div class="col-md-6">
        <div class="full story_blog paddding_left_15">
          <div class="heading_main text_align_left">
            <h2 class="title4"><span class="theme_color">Clientes</span><br> Satisfechos</h2>
          </div>
        </div>
        <div class="title5">
          <p>Es un hecho establecido desde hace mucho tiempo que un lector se distraerá con el contenido legible de una página cuando
            mirando su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de
            letras, en lugar de usar "Contenido aquí, contenido aquí", lo que hace que parezca un inglés legible. Muchos
            Los paquetes de autoedición y los editores de páginas web ahora usan Lorem Ipsum como su modelo de texto predeterminado, y un
            la búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún se encuentran en su infancia. Varias versiones han evolucionado
            a lo largo de los años, a veces por accidente, a veces a propósito (humor inyectado y cosas por el estilo.</p>
        </div>
        <div class="full paddding_left_15 margin-top_30">
          <a class="main_bt2" href="#">Leer mas ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="full text_align_right_img">
          <img class="img-responsive" src="https://i.ibb.co/wMxvW00/msi.jpg" alt="#" />
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>

