.f1 {
  margin-left: -214px;
}
.f2 {
  padding-right: -200px;
  margin-top: -200px;
}

.title3{
  padding-left: 10%;
}
.title4{
  padding-left: 80%;
}
.title5{
  padding-left: 30%;
}

.text2 {
  margin-left: -10%;
  padding-right: 20px;
}
.llista {
  list-style: none;
}


.theme_color, .leer2 {
  color: #00cc99;
}


.main_bt{
  color: #00cc99;
  border: 2px solid #00cc99;
  padding: 5px;
}

.main_bt2{
  color: #00cc99;
  border: 2px solid #00cc99;
  padding: 5px;
  margin-left: 30%;
}
