<div class="container">
  <br>
  <h2>¿Que accion desea realizar?</h2>
  <br>
  <div class="justify-content-center align-items-center ">
      <label class="radio">
          <button type="button" name="button" value="add" (click)="elegirAccion($event)" class="btn btn-outline-info btn-lg btn-block">Registrar evento</button>
      </label>
      <label class="custom-radio">
          <button type="button" name="button" value="edit" (click)="elegirAccion($event)" class="btn btn-outline-info btn-lg btn-block">Editar evento</button>
      </label>
      <label class="custom-radio">
        <button type="button" name="button" value="delete" (click)="elegirAccion($event)" class="btn btn-outline-info btn-lg btn-block">Borrar evento</button>
      </label>
  </div>
</div>

<section class="sec1">

  <div class="container" *ngIf="container === 'add'">
    <div class="App">
      <div class="vertical-center">
          <div class="inner-block">
              <form>
                  <h3>Registrar evento</h3>
                  <div class="form-group">
                      <label>Nombre del evento</label>
                      <input type="text" class="form-control" #evento name="evento"  />

                      <div [ngSwitch]="mostrarError">
                        <div *ngSwitchCase="'Introduzca un nombre para el evento'" class="redF">Introduzca un nombre para el evento</div>
                    </div>



                    </div>

                  <div class="form-group">
                      <label>Descripcion del evento</label>
                      <textarea type="text" class="form-control" #descrip name="descrip" ></textarea>

                      <div [ngSwitch]="mostrarError2">
                        <div *ngSwitchCase="'El texto introducido es demasiado corto'" class="redF">El texto introducido es demasiado corto</div>
                    </div>

                    </div>

                  <div class="form-group">
                      <label>Dia</label>
                      <select name="dia" class="form-control" #dia >
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                  </div>

                  <div class="form-group">
                    <label>Mes</label>
                    <select name="mes" class="form-control" #mes >
                      <option value="Ene">Ene</option>
                      <option value="Feb">Feb</option>
                      <option value="Mar">Mar</option>
                      <option value="Abr">Abr</option>
                      <option value="May">May</option>
                      <option value="Jun">Jun</option>
                      <option value="Jul">Jul</option>
                      <option value="Ago">Ago</option>
                      <option value="Set">Set</option>
                      <option value="Oct">Oct</option>
                      <option value="Nov">Nov</option>
                      <option value="Dic">Dic</option>
                    </select>
                </div>

                  <div class="form-group">
                      <label>Ubicacion</label>
                      <input type="text" class="form-control" name="ubicacion" #ubicacion/>
                  </div>

                  <div class="form-group">
                      <label>Correo</label>
                      <input type="email" class="form-control" name="email" #email/>
                      <div [ngSwitch]="mostrarError3">
                        <div *ngSwitchCase="'El correo introducido no es valido'" class="redF">El correo introducido no es valido</div>
                    </div>
                    </div>

                  <div class="form-group">
                    <label><input type="checkbox" id="input-check" #check>Aceptar Condiciones</label>
                </div>

                  <button type="button" (click)="enviarDatosAdd(evento.value, descrip.value, dia.value, mes.value, ubicacion.value, email.value, check.value)" value="Añadir"name="submit" id="submit" class="btn btn-outline-info btn-lg btn-block">Registrar evento</button>
              </form>
          </div>
        </div>
      </div>
    </div>



  <div class="container" *ngIf="container === 'edit'">
    <div class="App">
      <div class="vertical-center">
          <div class="inner-block">
              <form>
                  <h3>Editar evento</h3>
                  <div class="form-group">
                      <label>Nombre del evento</label>
                      <select name="name" class="form-control">
                        <option value="{{event.nombreEvento}}"  #evento *ngFor="let event of events" >{{event.nombreEvento}}</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label>Descripcion del evento</label>
                      <textarea type="text" class="form-control" #descrip name="descrip" ></textarea>
                  </div>

                  <div class="form-group">
                    <label>Dia</label>
                    <select name="dia" class="form-control" #dia >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                </div>


                  <div class="form-group">
                    <label>Mes</label>
                    <select name="mes" class="form-control" #mes >
                      <option value="Ene">Ene</option>
                      <option value="Feb">Feb</option>
                      <option value="Mar">Mar</option>
                      <option value="Abr">Abr</option>
                      <option value="May">May</option>
                      <option value="Jun">Jun</option>
                      <option value="Jul">Jul</option>
                      <option value="Ago">Ago</option>
                      <option value="Set">Set</option>
                      <option value="Oct">Oct</option>
                      <option value="Nov">Nov</option>
                      <option value="Dic">Dic</option>
                    </select>
                </div>

                  <div class="form-group">
                      <label>Ubicacion</label>
                      <input type="text" class="form-control" name="ubicacion" #ubicacion/>
                  </div>

                  <div class="form-group">
                      <label>Correo</label>
                      <input type="email" class="form-control" name="email" #email/>
                  </div>

                  <div class="form-group">
                    <label><input type="checkbox" #check >Aceptar condiciones del contrato</label>
                </div>

                  <button type="button" (click)="enviarDatosAdd(evento.value, descrip.value, dia.value, mes.value, ubicacion.value, email.value, check.value)" value="Añadir"name="submit" id="submit" class="btn btn-outline-info btn-lg btn-block">Registrar evento</button>
              </form>
          </div>
      </div>
  </div>



  </div>

  <div class="container" *ngIf="container === 'delete'">
    <div class="App">
      <div class="vertical-center">
          <div class="inner-block">
              <form>
                  <h3>Borrar evento</h3>
                  <div class="form-group">
                      <label>Nombre del evento</label>
                      <select name="name" class="form-control">
                        <option value="{{event.nombreEvento}}"  #evento *ngFor="let event of events" >{{event.nombreEvento}}</option>
                      </select>
                  </div>

                  <button type="button" (click)="enviarDatosAdd(evento.value, descrip.value, dia.value, mes.value, ubicacion.value, email.value, check.value)" value="Añadir"name="submit" id="submit" class="btn btn-outline-info btn-lg btn-block">Borrar evento</button>
              </form>
          </div>
      </div>
  </div>


  </div>
