<br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <h3><span class="theme_color">Eventos</span>: </h3>
      <br><br>
      <!-- Hacemos un bucle para printar los envetos que tenemos -->
      <div class="ban" class="" *ngFor="let event of events">
        <div class="form-group">
          <div class="card mb-0">
            <div class="col-7 col-sm-9">
              <li class="list-inline-item"> <strong>Nombre del Evento: </strong></li>
              <li class="list-inline-item">{{event.nombre}}</li>
              <div>
                <li class="list-inline-item"> <strong>Descripción:</strong></li>
                <li class="list-inline-item">{{event.desc}}</li>
              </div>
              <div>
                <li class="list-inline-item"> <strong>Ubicacion:</strong></li>
                <li class="list-inline-item">{{event.ubicacion}}</li>
              </div>
              <div>
                <li class="list-inline-item"> <strong>correo:</strong></li>
                <li class="list-inline-item">{{event.contacto}}</li>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
<!-- ---------------------------------------------------------------------------------------------------------- -->
<!-- Este es el menu de crear/modificar/editar -->
    <div class="col">
      <div class="container eventos">
        <label class="radio boton">
          <button type="button" name="button" value="crear" (click)="seleccionar($event)"
            class="btn btn-warning ">Crear</button> <!-- En caso de darle a Crear se hace la accion "seleccionar" y pasara directamente a los ngif -->
        </label>
        <label class="custom-radio boton">
          <button type="button" name="button" value="modificar" (click)="seleccionar($event)"
            class="btn btn-warning ">Modificar</button>
        </label>
        <label class="custom-radio boton">
          <button type="button" name="button" value="eliminar" (click)="seleccionar($event)"
            class="btn btn-warning ">Eliminar</button>
        </label>
        <br>
      </div>

      <!-- Un vez dado en alguna de las tres opciones del menu, compravara si concide con "crear" en caso que si entrara en este if, si no pasara al siguente.  -->
      <div class="container" *ngIf="container==='crear'">
        <form [formGroup]="miform">
          <h3><span class="theme_color">Crear </span>evento</h3>
          <br>
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" #nom name="evento" placeholder="Escriba el numbre del evento" required />
          </div>
          <!-- Para printar el error  -->
          <div [ngSwitch]="comprovacion">
            <div *ngSwitchCase="'No puede dejar el capo vacio'" class="error">No puede dejar el capo vacio.</div>
          </div>


          <div class="form-group">
            <label>Descripción:</label>
            <textarea type="text" class="form-control" #desc name="descrip" minlength="2" placeholder="Escriba la descripción del evento" required></textarea>
          </div>
          <!-- Para printar el error  -->
          <div [ngSwitch]="minimo2letras">
            <div *ngSwitchCase="'La descripcion tiene que ser como mínimo una palabra de dos o mas letras.'" class="error">La descripcion tiene que ser como mínimo una palabra de dos o más letras.</div>
          </div>

          <div class="form-group">
            <label>Ubicación:</label>
            <input type="text" class="form-control" #ubicacion name="ubicacion" placeholder="Escriba la ubicación del evento" required />
          </div>
          <!-- Para printar el error  -->
          <div [ngSwitch]="comprovacion">
            <div *ngSwitchCase="'No puede dejar el capo vacio'" class="error">No puede dejar el capo vacio.</div>
          </div>

          <div class="form-group">
            <label>Correo:</label>
            <input type="text" class="form-control" #correo name="email" placeholder="Escriba un correo de contacto" />
          </div>
          <!-- Para printar el error  -->
          <div [ngSwitch]="errorcorreo">
            <div *ngSwitchCase="'El correo necessita como minimo el caracter: @'" class="error">El correo necessita como minimo el caracter: @</div>
          </div>
          <br><br>
          <div class="form-group">
            <label><input type="checkbox" #check id="gridCheck" > He leído y acepto los términos y condiciones de Eventos
              S.L.</label>
          </div>

          <div [ngSwitch]="checkerror">
            <div *ngSwitchCase="'ok'" class="error">El checkbox tiene que estar seleccionado.</div>
          </div>

          <br>
          <!-- Finalmente, enviamos los valores a "registrar" para despues ponerlos en el array  -->
          <button type="button" (click)="registrar(nom.value, desc.value, ubicacion.value, correo.value, check.value)" value="Añadir"
            name="submit" id="submit" class="btn btn-outline-warning">CREAR</button>
          <br><br><br><br><br>
        </form>
      </div>
      <!-- MODIFICAR  -->
      <div class="container" *ngIf="container === 'modificar'">
        <div class="App">
          <div class="vertical-center">
            <div class="inner-block">
              <form>
                <h3><span class="theme_color">Modificar </span>evento</h3>
                <br>
                <div class="form-group">
                  <label>Nombre:</label>
                  <input type="text" class="form-control" #nom name="evento"
                    placeholder="Escriba el nombre del Evento que quieres modificar" required />
                </div>

                <div class="form-group">
                  <label>Descripción:</label>
                  <textarea type="text" class="form-control" #desc name="descrip" minlength="2" required></textarea>
                </div>

                <div class="form-group">
                  <label>Ubicación:</label>
                  <input type="text" class="form-control" #ubicacion name="ubicacion" required />
                </div>

                <div class="form-group">
                  <label>Correo:</label>
                  <input type="email" class="form-control" #correo name="email" />
                </div>

                <div class="form-group">
                  <label><input type="checkbox" id="gridCheck"> He leído y acepto los términos y condiciones de Eventos
                    S.L.</label>
                </div>

                <button type="button" (click)="modificar(nom.value, desc.value, ubicacion.value, correo.value)"
                  value="Añadir" name="submit" id="submit" class="btn btn-outline-warning">MODIFICAR</button> <!-- Enviamos los valores -->
                <br><br><br><br><br><br>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- ELIMINAR  -->
      <div class="container" *ngIf="container === 'eliminar'">
        <div class="App">
          <div class="vertical-center">
            <div class="inner-block">
              <form>
                <h3><span class="theme_color">Eliminar </span>evento</h3>
                <br>
                <div class="form-group">
                  <label>Nombre:</label><!-- Pedimos el nombre delevento para encontrarlo en la array y elimanrlo -->
                  <input type="text" class="form-control" #nom name="evento"
                    placeholder="Escriba el nombre del Evento que quieres borrar" required />
                </div>
                <button type="button" (click)="eliminar(nom.value)" value="eliminar" name="submit" id="submit"
                  class="btn btn-outline-warning">ELIMINAR</button> <!-- Enviamos el nombre del evento a la funcion elminar para asi en el .ts lo pueda elimanar -->
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
