<div class="list-group">
  <app-element-membre [miembro]="miembros[0]" (selectEvent)="informarMiembro($event)"></app-element-membre>
  <app-element-membre [miembro]="miembros[1]" (selectEvent)="informarMiembro($event)"></app-element-membre>
  <app-element-membre [miembro]="miembros[2]" (selectEvent)="informarMiembro($event)"></app-element-membre>
  <app-element-membre [miembro]="miembros[3]" (selectEvent)="informarMiembro($event)"></app-element-membre>
  <app-element-membre [miembro]="miembros[4]" (selectEvent)="informarMiembro($event)"></app-element-membre>
</div>
